@import url('./layout.css');
body > nav ul{
    display: flex;
    justify-content: space-around;
    background: blue;
    
}
body > nav a {
     color: white;
     
}
body > nav li{
    padding: 3em;
    
}
body > nav a:hover{
    color: white;

}
main figure {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

main {
    order: 2;
    margin-top: 1em;
    margin-bottom: 1em;
}


aside#aside-option-3{
    order: 3;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
    
}
h2 {
    color: white;
    text-align: center;
    background-color: black;
    padding-bottom: 3em;
    padding-top: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
p#p-2{
    margin-left: 1em;
    margin-right: 1em;
}
aside footer {
    color: white;
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

footer{
    margin-bottom: 1em;
}

